.footerBg {  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1050px;
  gap: 0px px;
  position: relative;

  grid-auto-flow: row;
  grid-template-areas:
    "grijs zwart";
}

.grijs { grid-area: grijs; background-color: #0F0F11; padding-bottom: 450px; }

.zwart { grid-area: zwart; background-color: #070707; }



.footerTop {
  margin-left: 150px;
  z-index: 1;
  position: relative;
  margin-top: -1420px;
}





.footerTop h3 {
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 40px;
  line-height: 42px;
  width: 37%;
  font-weight: 800;
  background-color: rgba(255, 0, 0, 0);
}

.onTop {
  margin-left: 235px;
  margin-top: -370px;
  background-color: rgba(255, 0, 0, 0);
  
}

.square {
  width: 120px;
  height: 120px;
  background-color: #3C0FE9;
  z-index: 1;
  position: absolute;
  margin-top: 100px;
   transition: 0.3s;



}






.chevron {

  stroke: rgb(255, 255, 255);
  background-color: #3C0FE9;
  padding: 48px;
  top: 140px;
  position: relative;
  display: inline;
  transition: 0.3s;

}

.chevron:hover {
  background-color: white;
  stroke: #3C0FE9;
}



.logo {
  width: 65px;
  margin-left: 380px;
  margin-top: 30px;

}

.h3 {
    text-transform: uppercase;
}

.footerEnd {  display: grid;
  position: relative;
  margin-top: 400px;


  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "left mid right"
    "left icons .";
}

.mid { grid-area: mid;  margin-left: -260px;}

.left { grid-area: left; margin-left: 340px; width: 100px; height: 100px;}

.right { grid-area: right; margin-top: 22px;}

.icons { grid-area: icons; margin-left: -260px; width: 300px; margin-top: 70px;}



.footerLogo {
  width: 63px;
  height: auto;
  margin-top: 27px;
}

.slogan {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  font-weight: 800;
  width: 30%;
  font-family: Roboto;
}

.right a {
  color: #7a7a7a;
}

.right ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  overflow: hidden;
  font-family: Roboto;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  
}



.right li {
  width: fit-content;



}

.right a:hover {
  transition: 0.3s;
  color: white;
}

.right li {
  display: block;
  color: #7a7a7a;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
}


.ig {
  stroke: #7a7a7a;
  stroke-width: 0.1px;
}

.icons li {
  display: block;
  text-align: center;
  padding: 0px 37px;
  text-decoration: none;
  margin-left: -40px;
}

.icons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.icons li {
  float: left;
}